body {
    background-color: #d5e1ef;
    margin: auto;
}
.Container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Parent {
    position: absolute;
    width: 270px;
    height: 450px;
    background-color: white;
    justify-content: center;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

.Image {
    position: absolute;
    left: 50%;
    padding-top: 10px;
    transform: translateX(-50%);
}

img {
    width: 250px;
}

img, .Parent {
    border-radius: 15px;
}

.Text {
    position: absolute;
    top: 60%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Text h3 {
    padding-top: 15px;
    font-weight: 700;
    font-size: 17px;
}

.Text p {
    font-weight: 400;
    font-size: 15px;
    color: rgb(128, 128, 128);
}